# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
__pycache__/
*.pyc

# Data
mars-dataset/
examples/pytorch-eval
test/test_files/marsvision.db
data/pdsc_tables/
marsvision-window-output/
marsvision.egg-info/

#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

data/pdsc/*
.idea

# Pytorch and pickle files (.pt and p)
*.p
*.pt

# PDSC Library and table files
*.LBL
*.TAB

# PDSC Directory
pdsc/pdsc_tables/

# VSCpde stiff
.vscode/settings.json
