# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
__pycache__/
*.pyc

# Data
mars-dataset/
Prototyping/pytorch-eval
test/test_files/marsvision.db
marsvision/pdsc/pdsc_tables


#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

Prototyping/Notebooks/pytorch-eval/alexnet_deepmars3-25.pt

Prototyping/Notebooks/pytorch-eval/alexnet-results-3-25.p

Prototyping/Notebooks/alexnet_deepmars3-25.pt

pdsc/pdsc_tables/

.vscode/settings.json
